p{font-size: 32px;
    color: green;
    padding-left: 40px;
    background-image:  linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    width:800px;
    margin-left:20px;
}

/* body form table{
    border-collapse: collapse;
    background-color: green;
    color: white;
} */
body{
    margin-left: 42px;
   
}
ul li{
    display:inline;
}
svg{
    border: 2px solid black red yellow green;
    
}


 

